@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
.sub__head{
    padding: 20px;
   /* width: 90%; */
}

.priority{
    height: auto;
}



.pp{
       background-color: palevioletred;
       padding: 20px;
       border-radius: 8px;
}