.Header{
    text-align: center;
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.02);
    /* backdrop-filter: blur(10px); */
    background:rgba(129, 46, 148, 0.178);
}

.todo__heading{
    background-image: linear-gradient(
        90deg, #feac5e, #c779d0, #4bc0c8);
            animation: gradient 10s ease infinite;
    
            background-size: 100%;
            background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
}




        
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            } 
            
        }
       